body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}
.hero-section {
    background: url('../src/assets/images/bg.jpeg') center/cover no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
}
.hero-btn {
    background-color: #ff6600;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
}
