.product-card {
    transition: transform 0.3s ease-in-out;
    text-align: center;
}
.product-card:hover {
    transform: scale(1.05);
}

.product-title {
    transition: color 0.3s ease-in-out;
}
.product-card:hover .product-title {
    color: #ff6600;
}

.product-link {
    text-decoration: none;
    color: inherit;
}
.product-link:hover {
    text-decoration: underline;
}

.product-container {
    display: flex;
    align-items: center;
    gap: 40px; /* Adds more spacing between image and text */
}

.product-logo {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
        gap: 20px;
    }
}
