.contact-container {
    background: linear-gradient(to right, #00509e, #003366); /* Blue gradient */
    padding: 40px;
    border-radius: 10px;
    color: white;
}

.contact-form {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-icon {
    margin-right: 5px;
    color: #003366; /* Dark Blue */
}

.contact-btn {
    background-color: #00509e; /* Deep Blue */
    border: none;
    width: 100%;
    font-size: 1.2rem;
    color: white;
}

.contact-btn:hover {
    background-color: #003366; /* Darker Blue */
}
